

/* ------------------------------------------------------------------ */
/* a. Navbar Stlyles
/* ------------------------------------------------------------------ */



/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   color:black;
   width: 100%;
   height: 100vh;
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/header-background.jpg); */
   background-image: url(../images/header-background.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   overflow: hidden;
 }
 
 header .banner-text { 
   color: white;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 
 header .banner-text h1 {  
   font-size: 90px;
   letter-spacing: -2px;
   margin: 0 auto 0 auto;
 }
 header .banner-text h3 {
   font-size: 20px;
   margin: 0 auto;
 }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   /*color: #fff;*/
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   /*color: #fff;*/
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a { color: #11abb0c7 ; }
header .scrolldown a:hover { color: #11abb0 ; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   /*color: #fff;*/

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */
.about-container {
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;  
   /* columns: 2; */
 }
 .profile-picture {
   position: center;
   width: 25vw;
   height: 25vw;
   border-radius: 50%;
 }
 .about-text-area {
   background-color: white;
   width: 50%;
   margin-left: 24px;
 }
 
 .about-text-area p {
    font-size: 16px;
   color: gray;
 }


/* ------------------------------------------------------------------ */
/* d. Abilities Section
/* ------------------------------------------------------------------ */
.abilities-header {
   text-align: center;
   font-size: 6vw;
}

.abilities-container {
   margin-bottom: 2vh;
   display: flex;
   justify-content: center;  
   /* columns: 2; */
 }
 .ability-picture {
   position: center;
   width: 16vw;
   height: 16vw;
   border-radius: 50%;
 }

 .abilities-text-area {
   background-color: white;
   width: 50%;
   margin-left: 24px;
 }
 
 .abilities-text-area p {
    font-size: 16px;
   color: gray;
 }


/* ------------------------------------------------------------------ */
/* e. Hokage Section
/* ------------------------------------------------------------------ */

.hokage-container {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;  
}

.hokage-content {
   /* display: flex;
   align-items: center;
   justify-content: center; */
}

#hokage ul{
  background: black;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato',sans-serif;
  /* width: 900px;  */
  margin: 0px auto;
}

/* #hokage h1{
  color: #fff;
  text-align: center;
  margin-top: 2em;
  font-weight: 200;
  font-size: 80px;
} */

#hokage .wrapper{
  width: 100%;
  margin: 2em auto;
  background: #3D464E;
  clear: both;
  overflow: hidden;
}


#hokage ul li{
  cursor: pointer;
  float: left;
  overflow: hidden;
  height: 177px;
  list-style: none;
  position: relative;
  width: 72px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  /* background: #fff; */
}

/* #hokage li a{
  display: block;
  width: 100px;
  height: 177px;
  line-height: 177px;
  color: #fff;
  text-decoration: none;
  text-indent: 10px;
  height: 177px;
  left: 0;
  position: absolute;
  top: 0;
  width: 72px;
  text-indent: -999px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
} */

/* #hokage ul li:hover a{
  background-position: right top;
}

#hokage ul li:hover{
  width: 350px;
} */

#hokage li:hover a{
   background-position: right top;
 }
 
 #hokage li:hover{
   width: 350px;
 }

#hokage p{
 color: #5F5F5F;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
  padding-top: 40px;
  width: 225px;
  margin: 0px 7em;
}

.hokage-pic {
   /* background-color: black; */
}

.hashirama {
   background-image: "images/Hokage_Hashirama.png";
}
