<!DOCTYPE html>
<html ng-app="angular">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>User Persona</title>
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body ng-controller="controller">
		<div  class="container-card">
		<h1>Pepe The Frog</h1>
		<div class="container">
			<div class="col">
				<div class="row" id="profile">
					<h1>{{model.Name}}</h1>
					<img alt="Person" ng-src="{{model.Photo}}">
					<h2 class="text-center">About</h2>
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fa fa-user"></i></span>Age: {{model.Age}}</li>
						<li><span class="fa-li"><i class="fa fa-vcard"></i></span>Occupation: {{model.Occupation}}</li>
						<li><span class="fa-li"><i class="fa fa-dollar"></i></span>Income: {{model.Income}}</li>
						<li><span class="fa-li"><i class="fa fa-shopping-cart"></i></span>Spending Budget: {{model.SpendingBudget}}</li>
					</ul>
				</div>
				<div class="row" id="personality">
					<h2>Personality</h2>
					<ul>
						<li ng-repeat="item in model.PersonalityTraits">
							{{item.Name}}
							<br><progress ng-value="item.Value" max="100"></progress>
						</li>
					</ul>
				</div>
			</div>
			<div class="col">
				<div class="row" id="bio">
					<h2>Core Needs</h2>
					<p>{{model.Core_needs}}</p>
				</div>
				<div class="row" id="hangout">
					<h2>Ideal Hangout Atmosphere</h2>
					<ul>
						<li ng-repeat="item in model.Ideal_atmos">
							{{item.Name}}
							<br><progress ng-value="item.Value" max="100"></progress>
						</li>
					</ul>
				</div>
				<div class="row" id="peeves">
					<h2>Pet Peeves</h2>
					<p>{{model.Pet_Peeves}}</p>
				</div>
			</div>
			<div class="col">
				<div class="row" id="drinks">
					<h2>Drink Preferences</h2>
					<h3>{{model.DrinkQuestion1}}</h3>
					<p>{{model.DrinkAnswer1}}</p>
					<h3>{{model.DrinkQuestion2}}</h3>
					<p>{{model.DrinkAnswer2}}</p>
					<h3>{{model.DrinkQuestion3}}</h3>
					<p>{{model.DrinkAnswer3}}</p>
				</div>
				<div class="row" id="foods">
					<h2>Food Preferences</h2>
					<h3>{{model.FoodQuestion1}}</h3>
					<p>{{model.FoodAnswer1}}</p>
					<h3>{{model.FoodQuestion2}}</h3>
					<p>{{model.FoodAnswer2}}</p>
					<h3>{{model.FoodQuestion3}}</h3>
					<p>{{model.FoodAnswer3}}</p>
				</div>
			</div>
			
		</div>
		</div>
		<script src="angular.js"></script>
		<script src="app.js"></script>
	</body>
</html>