* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 5px;
}

h1 {
	display: block;
	margin-bottom: .5em;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
	text-align: left;
    border-bottom: 2px solid black;
}

img {
	border: 1px solid #ddd;
	border-radius: 15px;
	padding: 5px;
	display: block;
	margin: 0 auto;
	max-height: 250px;
	position: relative;
}

img:hover {
	box-shadow: 0 0 2px 4px rgba(0, 140, 186, 0.5);
}

ul {
	padding-left: 1.2em;
}

.text-center {
	text-align: left;
	font-weight: bold;
}

.container {
	display: flex;
	border-radius: 25px;
}

.container-card {
	/* background-image: linear-gradient( #00c9ff, #9defff); */
	background-image: linear-gradient(  #1CB4CB, #7BD8DA);
	padding-top: 10px;
	padding-bottom: 15px;
	border-radius: 25px;
	color: #10508D;
}

.col {
	display: flex;
	flex-direction: column;
	overflow: auto;
	width: 33%;
}

.top-right {
	position: absolute;
	right: 20px;
	top: 20px;
}

.row {
	flex-grow: 1;
	margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
}


/* #profile { background-color: #10508D; border-radius: 25px; padding-bottom: 5px; color: #DEDAC7;}
#personality { background-color: #10508D; border-radius: 25px; color: #DEDAC7;}
#bio { background-color: #10508D; border-radius: 25px; color: #DEDAC7;}
#hangout { background-color: #10508D; border-radius: 25px; color: #DEDAC7;}
#peeves { background-color: #10508D; border-radius: 25px; color: #DEDAC7;}
#drinks { background-color: #D3C6A5; border-radius: 25px; color: #10508D;}
#foods { background-color: #D3C6A5; border-radius: 25px; color: #10508D;}
#foods { background-color: #D3C6A5; border-radius: 25px; color: #10508D; } */

#profile {border-radius: 25px; padding-bottom: 5px;}
#personality {border-radius: 25px;}
#coreneeds {border-radius: 25px;}
#hangout {border-radius: 25px;}
#peeves {border-radius: 25px;}
#drinks {border-radius: 25px;}
#foods {border-radius: 25px;}
