* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 5px;
}

h1 {
	display: block;
	margin-bottom: .5em;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
	text-align: left;
    border-bottom: 2px solid black;
}

img {
	display: block;
	margin: 0 auto;
	max-height: 250px;
}

ul {
	padding-left: 1.2em;
}

.text-center {
	text-align: left;
	font-weight: bold;
}

.container {
	display: flex;
	background-color: #c2fffb;
	border-radius: 25px;
}

.container-card {
	background-color: #c2fffb;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 25px;
}

.col {
	display: flex;
	flex-direction: column;
	overflow: auto;
	width: 33%;
}

.top-right {
	position: absolute;
	right: 20px;
	top: 20px;
}

.row {
	flex-grow: 1;
	margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
}


#profile { background-color: #a39cf4; border-radius: 25px; }
#personality { background-color: #a39cf4; border-radius: 25px; }
#bio { background-color: #f4b69c; border-radius: 25px; }
#drinks { background-color: #f4b69c; border-radius: 25px; }
#foods { background-color: #f4b69c; border-radius: 25px; }
#hangout { background-color: lemonchiffon; border-radius: 25px; }
#peeves { background-color: lemonchiffon; border-radius: 25px; }